// COLOR VARIABLES

$light-background: #c8d4ff;
$dark-background: #407fe5;
$green-text: #004ebb;
$green-success: #008aff;
$gray-text: #6e6e6e;
$gray-lines: #d6d6d6;
$red-heart: #f54d53;
$color-main: #577ffa;
$color-gray-light: #e8e8e8;
$color-gray-category: #888888;
// FONTS

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$font-montserrat: 'Montserrat', sans-serif;

